html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('assets/concrete_seamless.png') repeat;
}

a {
    color: black;
    text-decoration: initial;
}

body { 
    font-family: Roboto;
}

.md-primary {
    background-color: #455A64;
}

.md-primary-dark {
    background-color: #263238;
}

.md-accent {
    background-color: #D50000;
}

.app-invert-text {
    color: #ffffff;
}